* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-image: url("gift-with-red-ribbon-colorful-box-balls_1358690-2391.jpg");
	background-repeat:repeat-y;
	background-size: contain;
	color: rgb(165, 82, 5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

h2 {
	color: #fff;
	text-align: center;
	font-size: 42px;
	margin-top: 50px;
    margin-left: 250px;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.form {
	background-color: #E75744;
	display: grid;
   grid-template-columns: auto;
	border-radius: 12px;
	padding: 25px;

	width: 500px;
	box-shadow: 0 6px 15px rgba(129, 111, 111, 0.2);
	margin-top: 20px;
    margin-left: 250px;
	transform: scale(1);
	transition: transform 0.3s ease;
}

.form:hover {
	transform: scale(1.02);
}

label {
	font-weight: 600;
	color: #ffffff;
	display: block;
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 15px;
	font-size: 16px;
	transition: all 0.3s ease;
}

input:focus {
	border-color: #f35d07;
	outline: none;
	box-shadow: 0 0 6px rgba(248, 96, 8, 0.3);
}

button {
	width: 100%;
	padding: 12px;
	background-color: #0B455D;
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: 1.1em;
	cursor: pointer;
	transition: all 0.7s ease;
}

button:hover {
	background-color: #f3ec78;
	color: #333;
}
.edit {
	margin: 10px 0;
}
.userList {
	margin-top: 30px;
	max-width: 700px;
	
	display: flex;
	flex-direction: column;
	gap: 15px;
 
   
}

.user {
	background: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
	transform: scale(1);
    margin-left: 250px;
	transition: transform 0.3s ease;
}

.user:hover {
	transform: scale(1.03);
}

.user h3 {
	color: #af4261;
	margin: 0 0 10px;
}

.user p {
	margin: 5px 0;
	color: #666;
}

hr {
	border: none;
	border-top: 1px solid #eee;
	margin: 15px 0;
}

.success {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 15px 20px;
	background-color: #4caf50;
	color: #fff;
	border-radius: 8px;
	font-size: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.4s, transform 0.4s;
	z-index: 1000;
}

.success .show {
	opacity: 1;
	transform: translateY(0);
	animation: fadeOut 3s forwards 3s;
}

@keyframes secret {
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}
